/* Media quesries */
/* mobile devise */
    
@media only screen and (max-width: 480px){
    
    .email-body{
        width: 100%;
      
    }
   
    header img{
        width: 40%;
        height: 180px;
      
    }
    header h1{
       
        margin-left: 2%;
        font-size: 25px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .email-body{
        width: 80%;
      
    }

}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .email-body{
        width: 70%;
      
    }
}