
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    background-color: rgba(207, 204, 204, 0.24);
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;

}
header{
    background-color: rgba(117, 117, 182, 0.623);

}
.main-body{
    background-image: url(img/1.jpg);
  
 

}
.email-body{
    width: 45%;
    height: auto;
    /* background-color: rgb(255, 255, 255); */
    margin-top: 5px;
    /* margin-bottom: 50px; */
}

.head-sec{
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: rgb(255, 255, 255); */
    height: 180px;
    
}
header img{
    width: 50%;
    height: 180px;
    
  
}
header h1{
    margin-top: 50px;
    margin-left: -10%;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
}
.user{

    display: flex;
    justify-content: center;
    align-content: center;
}
.user img{
    width: 250px;
    border-radius: 50%;
    padding: 10px;
}
.user h2{
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px;

}
.msg-body{
    padding: 10px 30px;
    /* background-color: rgb(255, 255, 255); */
}
.flex-btn{
    display: flex;
    justify-content: center;
    align-content: center;
}
button{
   
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
  
  
    border-radius: 5px;
  
    
}
button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.msg-body p{
    font-size: 15px;
    font-weight: 100;
}
footer{
    padding: 10px 0 20px 0;
    background-color: rgba(117, 117, 182, 0.623);
}
.footer-p1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
.fas{
    margin-right: 10px;
}
.fab-link{
    margin-top: 30px ;
    font-size: 25px;
}
.fab{
    padding: 5px;
}
.footer-p2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}
.footer-p2 a{
    text-decoration: none;
    padding:  5px 5px;
    color: white;
}
.footer-p2 a:hover::after{
    display: block;
    height: 2px;
    width: 100%;
    content: ' ';
    background-color: tomato;
}


